.vscode
.github
src/
test/
scripts/
swift/
references/
docs/
node_modules/
assets/
!assets/readme-hero.png
!assets/icon.png
!bin/nowplaying-helper
*.ts
out/**
!out/
!out/src/
!out/src/extension.js
tsconfig*.json
out/**/*.d.ts
out/**/*.map
.gitignore
meta.json
*.tsbuildinfo
out/**/*.tsbuildinfo
log/
logs/
